<html>

<h1>
  Teaching assistant
</h1>

<h2>
  Students
</h2>

<table>
  <tr>
    <td><label>Name </label></td>
    <td><input [(ngModel)]="student.name"></td>
  </tr>

  <tr>
    <td><label>GitHub username </label></td>
    <td><input [(ngModel)]="student.gitName"></td>
  </tr>

  <tr>
    <td><label>SSN </label></td>
    <td><input (change)="removeDuplicateSsnWarning()" [(ngModel)]="student.ssn"></td>
    <td *ngIf="is_ssn_duplicate">
        A student with this SSN already exists.
    </td>
  </tr>

  <tr>
    <td><label>Email </label></td>
    <td><input [(ngModel)]="student.email"></td>
  </tr>

  <tr>
    <td><button (click)="registerStudent()">Add</button></td>
  </tr>
</table>

<ul class="students">
    <li *ngFor="let a of students">
        <span>{{a.name}}</span>,
        <span>{{a.gitName}}</span>,
        <span>{{a.ssn}}</span>,
        <span>{{a.email}}</span>
    </li>
</ul>

<router-outlet></router-outlet>

</html>
