<html>

<h1>
  Teaching assistant
</h1>

<h2>
  Students
</h2>

<table>
  <tr>
    <td><label>Name </label></td>
    <td><input [(ngModel)]="student.name"></td>
  </tr>

  <tr>
    <td><label>GitHub username </label></td>
    <td><input [(ngModel)]="student.gitName"></td>
  </tr>

  <tr>
    <td><label>SSN </label></td>
    <td><input (change)="removeDuplicateSsnWarning()" [(ngModel)]="student.ssn"></td>
    <td *ngIf="is_ssn_duplicate">
        A student with this SSN already exists.
    </td>
  </tr>

  <tr>
    <td><label>Email </label></td>
    <td><input [(ngModel)]="student.email"></td>
  </tr>

  <tr>
    <td><button (click)="registerStudent()">Add</button></td>
  </tr>
</table>

<table class="students" *ngIf="students.length > 0">
    <tr>
        <th>Name</th>
        <th>GitHub username</th>
        <th>SSN</th>
        <th>email</th>
        <th>Requirements</th>
        <th>Tests</th>
    </tr>

    <tr *ngFor="let s of students">
        <td>{{s.name}}</td>
        <td>{{s.gitName}}</td>
        <td>{{s.ssn}}</td>
        <td>{{s.email}}</td>
        <td><input [(ngModel)]="s.goals['Requirements']" (change)="updateStudent(s)"></td>
        <td><input [(ngModel)]="s.goals['Tests']" (change)="updateStudent(s)"></td>
    </tr>
</table>

<router-outlet></router-outlet>

</html>
