button {
    font-family: Arial;
    background-color: rgb(210, 230, 240);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #5cc7f5;
}