<div *ngIf="students.length == 0">There are no registered students yet.</div>

<table *ngIf="students.length > 0">
    <tr>
       <th>Name</th>
       <th>SSN</th>
       <th>email</th>
       <th>Requirements</th>
       <th>Tests</th>
    </tr>
    <tr *ngFor="let s of students">
       <td>{{s.name}}</td>
       <td>{{s.ssn}}</td>
       <td>{{s.email}}</td>
       <td class="goal"><input [(ngModel)]="s.goals['Requirements']" (change)="updateStudent(s)"></td>
       <td class="goal"><input [(ngModel)]="s.goals['Tests']" (change)="updateStudent(s)"></td>
    </tr>
</table>